{% extends "admin/main_layout.html" %} {% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">List Gedung</h1>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>
                Nama Gedung
              </th>
              <th>
                Pengelola
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for x in a %}
            <tr>
              <td>
                {{x.namaGedung}}
              </td>
              <td>
                {{x.pengelola}}
              </td>
              <td>
                <a href="" type="button" class="btn btn-primary">
                  Edit
                </a>
              </td>
              <td>
                <a href="" type="button" class="btn btn-danger">
                  Hapus
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock %}