{% extends "admin/main_layout.html" %} {% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Catatan {{gedung}}</h1>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>
                Teknisi Satu
              </th>
              <th>
                Teknisi Dua
              </th>
              <th>
                Bulan
              </th>
              <th>
                Tgl
              </th>
              <th>
                Tipe Gondola
              </th>
              <th>
                Service
              </th>
              <th>
                Catatan
              </th>
              <th>
                Status
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for x in a %}
            <tr>
              <td>
                {{x.picSatu}}
              </td>
              <td>
                {{x.picDua}}
              </td>
              <td>
                {{x.bulan}}
              </td>
              <td>
                {{x.tgl}}
              </td>
              <td>
                {{x.tipeGondola}}
              </td>
              <td>
                {{x.service}}
              </td>
              <td>
                {{x.catatan}}
              </td>
              <td>
                {{x.status}}
              </td>
              {% if x.id == None %}
              <td>
              </td>
              {% else %}
              <td>
                <a href="{% url 'editnoteadmin' x.id %}" type="button" class="btn btn-primary">
                  Edit
                </a>
              </td>
              <td>
                <a href="{% url 'deletenoteadmin' x.id %}" type="button" class="btn btn-danger">
                  Hapus
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock %}